* {
    margin: 0
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #7e7676c7;
    color: #333;
    padding-top: 60px;
    transition: all 0.3s ease-in-out;
}

/* Navigation Bar */
nav {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #444;
    color: #FFD700;
}

/* Section Styling */
section {
    padding: 100px;
    margin: 30px;
    background: #6089c2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

section:hover {
    background: rgb(204, 131, 58);
    transform: scale(1.02);
}


/* Skills Section */
#skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills ul li {
    background: #be4e60;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    flex: 1 1 30%;
}

#skills ul li i {
    margin-right: 10px;
    font-size: 24px;
}

#skills ul li:hover {
    background: #0056b3;
    transform: scale(1.05);
}


/* Project Section */
.project {
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    flex: 1;
    border: 2px solid #333;
    padding: 15px; 
    background-color: #f9f9f9;
    border-radius: 8px; 
    width: 80%;   
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.project h3 {
    margin-bottom: 5px;
}

.project a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.project a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.project:hover {
    transform: scale(1.05);
}

/* Home Section */
#home {
    position: relative;
    height: 100vh;
    /* background: url('') no-repeat center center/cover; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

#home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 13, 45, 0.5);
    /* Gradient Overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.home-content {
    z-index: 2;
    max-width: 80%;
    margin: 0 auto;
}

.home-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.2;
}

.home-content h1 span {
    color: #FFD700;
}

.home-content p {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 300;
}

.home-content .btn {
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.primary-btn {
    background: #FFD700;
    color: #333;
}

.secondary-btn {
    background: transparent;
    color: #FFD700;
    border: 2px solid #FFD700;
    margin-left: 15px;
}

.primary-btn:hover {
    background: #ffcc33;
    transform: translateY(-5px);
}

.secondary-btn:hover {
    background: #FFD700;
    color: #333;
    transform: translateY(-5px);
}


/* About Section Container */
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.about-text {
    flex: 1;
    border: 2px solid #333;
    padding: 15px; 
    background-color: #f9f9f9;
    border-radius: 8px; 
    width: 80%;   
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.about-image img {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about-image img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}


/* GitHub Section */
.github-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

.github-text {
    flex: 1;
    /* margin-right: 20px; */
    border: 2px solid #333;
    padding: 15px; 
    background-color: #f9f9f9;
    border-radius: 8px; 
    width: 80%;   
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.github-text a {
    text-decoration: none;

}

.github-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.github-image img {
    max-width: 60%;
    height: auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.github-image img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


/* contact */
.contact h1 {
    font-size: 6vw;
    text-align: center;
    margin-bottom: 3vw;
}

.contact h1 span>a {
    text-decoration: none;
}

.contact {
    padding: 3vw 4vw 3vw 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3vw;
}

.contact_item {
    width: 47%;
    background: var(--text);
    color: var(--black);
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
}

.contact_item h3 {
    font-size: 2vw;
    font-weight: 600;
}

.contact_item a {
    color: var(--black);
    text-decoration: none;
}

.contact_item p {
    color: var(--black);
}

.contact_item i {
    font-size: 2vw;
    color: var(--black);
    margin-right: 10px;
}

.contact .create {
    text-align: center;
    margin-top: 3vw;
}

.contact .create>a {
    color: var(--text);
}





/* Active Link Highlighting */
nav ul li a.active {
    font-weight: bold;
    color: #FFD700;
    background-color: #444;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Responsive Design: Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    #home {
        padding: 30px 10px;
    }

    section {
        margin: 10px;
        padding: 15px;
    }

    .project {
        margin-bottom: 15px;
    }
}